{% extends "base.html" %}
{% block content %}
    <h2>Good Luck!</h2>
    <p>Cis is aur fantastik gaim wii kreatet</p>
    <p>Click <a href="/">here</a> to download the game</p>
    <p>Click <a href="/results">here</a> to learn about the controls of the game</p>

    <h2 id="answers">The process of developing the game.</h2>
    <ol id="answers-list">
        <li>Our journey began as a team of four on the xx.xx.xxxx. We sat together but 
        sadly there was a terrible tragedy which resultet in the fact that two of our members 
        ceased to co-exist within our team and decided, that they would
        take it upon themselves to challange the world of the computer sciences, leaving my fellow
        coder Stefan and myself to fend by ourselves.</li>
        <li>Responses or comments to Exericse 2.</li>
        <li>"scrape-this", it opens "data.json"</li>
        <li>Responses or comments to Exericse 4.</li>
        <li>Responses or comments to Exericse 5.</li>
        <li>Responses or comments to Exericse 6.</li>
    </ol>
{% endblock %}
